ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
RINKEBY_URL=
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

ALIBABA_REGION=
ALIBABA_ACCESSID=
ALIBABA_SECRET=
ALIBABA_BUCKET=